@import "./properties";

.commentContainer{
    display: flex;
    padding-left: 1em;
    font-size: 1em;
    margin-bottom: 0em;


    .accountName{
        margin-left: 5px;
        font-weight: 600;
    }

    .comment{
        margin-left: 0.5em;
    }
}