

.ProfileName {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.ProfileCategory {
  color: #919191;
  font-size: 15px;
}

.BioText {
  display: block;
  margin-top: 3px;
}

.BioLink {
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  color: #3d83b6;
  margin-top: 3px;
}