@import "./properties";

.storyBorder{
    padding: 2px !important;
    background: linear-gradient(
        200deg,
        $gradient-one 25%,
        $gradient-two 50%,
        $gradient-three 75%,
        $gradient-four 100%,

    ) !important;
    border-radius:50% !important;
}

.profileIcon{
    border-radius: 50% !important;
    border: 2px solid $background-white !important;
    display: block !important;

    &:hover{
        cursor: pointer !important;
    }

   &.small{
        width: 25px !important;
        height: 25px !important;
    } 

    &.medium{
        width: 35px !important;
        height: 35px !important;
    }

    &.big{
        width: 60px !important;
        height: 60px !important;
    }
}